<section>
  <div class="title">
    <h3>Fast and Furious</h3>
    <h4>Join us and make your best</h4>
  </div>
  <div class="traco"></div>

  <form [formGroup]="formPost">
    <div class="sign">
      <h3>Sign In</h3>

      <input type="text" class="username" placeholder="Username" formControlName="login"
        [ngClass]="{ 'invalid': (formPost.controls['login'].status == 'INVALID' && formPost.controls['login'].touched)}" />
      <small *ngIf="formPost.controls['login'].status == 'INVALID' && formPost.controls['login'].touched">Campo
        Inválido</small>
      <input type="password" class="password" placeholder="Password" formControlName="senha"
        [ngClass]="{ 'invalid': (formPost.controls['senha'].status == 'INVALID' && formPost.controls['senha'].touched)}" />
      <small *ngIf="formPost.controls['senha'].status == 'INVALID' && formPost.controls['senha'].touched">Campo
        Inválido</small>

      <a style="color: black;" href="blog/register">Forgot Password?</a>
      <a style="color: black;" href="blog/register">Create New Account</a>
      <button [disabled]="formPost.status === 'INVALID'" type="button" (click)="acessarLogin()" class="btn">
        LOGIN
      </button>

    </div>
  </form>

  <!-- <i class="bi bi-arrow-right-square-fill"></i> -->

</section>
