<section>
  <h1>
    Fast and Furious
  </h1>
  <button type="button" class="btn" routerLink="/blog/criar">
    New post
  </button>
  <div class="formsGroup" *ngFor="let blogs of blog" routerLink="/blog/interna/{{blogs.id}}">
    <div class="classForms">
      <h2> <i class="bi bi-camera-reels-fill"></i>
        {{blogs.titulo}}
      </h2>
      <div style="background-image: url({{blogs.imagem}});" class="imagem">
      </div>

      <div class="box-sub">
        <p> <i class="bi bi-calendar2-month-fill"></i>
          Data: {{blogs.data.split('T')[0].trim().split('-').reverse().join('/')}} -
          {{blogs.data.split('T')[1].split(':')[0]}}:{{blogs.data.split('T')[1].split(':')[1]}}
        </p>
        <p  class="autor" routerLink="/blog/perfil/{{blogs.id}}"> <i class="bi bi-person-plus-fill"></i>
          Autor: {{findAutor(blogs.autor)}}
        </p>
      </div>

    </div>

  </div>
</section>
