<section class="box">
  <table>
    <thead>
      <tr>
        <ng-container *ngFor="let col of cols">
          <th>
            {{ col.descricao }}
          </th>

        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of dados">
        <ng-container *ngFor="let c of cols">
          <td *ngIf="c.tipo === 'texto'">
            {{  getValue(c.nome, p) }}
          </td>
          <td *ngIf="c.tipo === 'imagem'">
            <img width="28px" [src]="getValue(c.nome, p)" alt="Imagem">
          </td>
        </ng-container>
        <td>
          <button type="button" (click)="editDep(p)" class="btn-edit">
            Editar
          </button>
        </td>
        <td>
          <button type="button" (click)="deletDep(p.id)" class="btn-delete">
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<ng-container *ngIf="open == true">
  <form action="" [formGroup]="formDepto">
    <section id="modal">
      <div class="containerModal">
        <div class="txt">
          <h3>
            Departamento
          </h3>
          <span class="close" (click)="closeModal()">&times;</span>
        </div>
        <div class="caixa">
          <input type="text" formControlName="departament" placeholder="Digite o departamento"
            [(ngModel)]="depto.departamento"
            [ngClass]="{'invalid': (formDepto.controls['departament'].status == 'INVALID' && formDepto.controls['departament'].touched)}">
          <small style="color: red" *ngIf="formDepto.status === 'INVALID'">Campo Inválido</small>
          <div class="btns">
            <button class="btn-edit" (click)="editaDepartamento(depto)">Atualizar</button>
            <button class="btn-insere">Adiconar</button>
          </div>
        </div>
      </div>
    </section>
  </form>
</ng-container>
